@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: Raleway , BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif ;
  scroll-behavior: smooth;
  
}
.custome-img{
  background-image: url('https://img.freepik.com/free-photo/backpacker-relax-mountain-with-camera-adn-sunset_1150-7755.jpg?w=740&t=st=1661020066~exp=1661020666~hmac=7206467cb08a4478bfcc8ce5c960c397e3eda8eb59f661e74d11e2eb7fc1573b');
}